.DS_Store
__pycache__/

# Skjemaets konfigurasjon med ekte nøkler skal ALDRI i git.
# Den ligger kun på serveren, utenfor webroten. Se skjema-config.eksempel.php.
skjema-config.php
skjema-logg/

# SMB-delingen legger igjen ._-filer (AppleDouble). De skal aldri i repoet.
._*
